# Lab 1

Answer the exercises or complete the tasks, using the specific method described if applicable.

#### EXERCISE 1: Album collection
Sort these albums into alphabetical order

In [1]:
albums = ['Piper At The Gates of Dawn',
          'Ummagumma',
          'Obscured By Clouds',
          'Dark Side Of The Moon']

In [2]:
# YOUR CODE HERE:

['Dark Side Of The Moon',
 'Obscured By Clouds',
 'Piper At The Gates of Dawn',
 'Ummagumma']

They were recorded in 1967, 1969, 1972 and 1973 respectively. Make a dictionary called album_dict where the key-value pairs are album name and date. Check it worked by retrieving the date of Ummagumma.

In [3]:
# YOUR CODE HERE
album_dict = {}

'1969'

#### EXERCISE 2: Shopping spree
Write a program to iterate through `shopping_list` (a dictionary containing items and their price). As each item is added, print its name and the running total. If an item cost more than 15 dollars, print "Warning: expensive!"

In [4]:
shopping_list = {'green eggs': 3.09,
                'ham': 5.99,
                'christmas tree': 45.00,
                'caviar': 299.99,
                'newspaper': 3.50}

In [5]:
# YOUR CODE HERE:

green eggs
total so far:  3.09

ham
total so far:  9.08

christmas tree
total so far:  54.08
---> Warning: expensive!

caviar
total so far:  354.07
---> Warning: expensive!

newspaper
total so far:  357.57

#### EXERCISE 3: Functions
**Write a function to test whether the word dragon is in a string**

In [6]:
#from IPython.display import Image
#path = r'https://raw.githubusercontent.com/worldbank/Python-for-Data-Science/master/July_2019_Poverty_GP/day_1/images/village.jpg'
#Image(filename=path, width = 250)

In [7]:
def check_for_dragons(string):

In [8]:
check_for_dragons('Under the bridge at Pontrhydfendigaid lies a dragon')

Dragon is in string

**Create a function to replace 'not bad' with 'really good' in a string, and add exclamation marks. Your function takes two parameters: my_string and number_exclamation_marks.** Bonus: apply it to each of the three strings using a for loop, adding a random number of exclamation marks.

In [11]:
# YOUR FUNCTION HERE:

def add_enthusiasm(my_string, number_exclamation_marks):

In [12]:
string1 = 'This chicken curry is not bad'
string2 = "Nick's ukulele playing is not bad"
string3 = 'Our Python instructors are not bad'

In [13]:
add_enthusiasm(string1, 3)

'This chicken curry is really good!!!'

In [14]:
# YOUR CODE HERE:
  

print("This chicken curry is really good!!!!!!")
print("Nick's ukulele playing is really good!!")
print("Our Python instructors are really good!")

This chicken curry is really good!!!!!!!!!
Nick's ukulele playing is really good!!!!!!!!
Our Python instructors are really good!!!!!!

#### EXERCISE 4: More functions
Pick one of the exercises below.

**4a: Dice game**

Write a function `dice_roll` that rolls two dice and returns the score. The score is the sum of the two numbers rolled. However, if the same number came up on both dice, your score gets doubled (eg. two 3s = 12, two 6s = 24).**

In [15]:
# YOUR FUNCTION HERE:

def roll_dice():
  )

In [16]:
roll_dice()

8

Define an empty list `scores`. Run your `roll_dice` function n times in a loop. Each time, add the new score to the list using the list.append() function. At the end, print out lowest score, highest score, and the mean of all scores. Do this for n = 10, 1000 and 10000.

In [17]:
scores = []
n = 10 # number of iterations

# YOUR CODE HERE:

Lowest score:  4
Highest score:  28
Mean score:  12.4

In [18]:
scores = []
n = 1000 

# YOUR CODE HERE:

Lowest score:  3
Highest score:  28
Mean score:  9.264

In [19]:
scores = []
n = 100000

# YOUR CODE HERE:

Lowest score:  3
Highest score:  28
Mean score:  9.1494

#### EXERCISE 4b: Caught speeding

You are driving a little too fast, and a police officer stops you. Write a function `caught_speeding` to compute the result, encoded as an int value: 
* 0=no ticket
* 1=small ticket
* 2=big ticket.

If speed is 60 or less, the result is 0. If speed is between 61 and 80 inclusive, the result is 1. If speed is 81 or more, the result is 2. Unless it is your birthday -- on that day, your speed can be 5 higher in all cases.

`caught_speeding(60, False) → 0`

`caught_speeding(65, False) → 1`

`caught_speeding(65, True) → 0`

In [20]:
# YOUR CODE HERE:

In [21]:
caught_speeding(60, False)

0

In [22]:
caught_speeding(65, False)

1

In [23]:
caught_speeding(65, True)

0

#### EXERCISE 4c: Count nines
Write a function to count the instances of integer 9 in a list

In [24]:
# YOUR FUNCTION HERE:

In [25]:
my_list = [0,3,2,4,9,9,3]

In [26]:
count_nines(my_list)

2

#### EXERCISE 5: List comprehensions
Use list comprehensions to do the following:
* 6a. List all numbers from 1 to 1000 that are divisible by 12.
* 6b. List all the holiday destinations that are less than 7 characters long.
* 6c. Put all the names in phone directory order ('Last name', 'First name').

(The last one requires a list comprehension then an extra step to sort - find a string method that will help.)

In [27]:
# YOUR CODE HERE

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, 252, 264, 276, 288, 300, 312, 324, 336, 348, 360, 372, 384, 396, 408, 420, 432, 444, 456, 468, 480, 492, 504, 516, 528, 540, 552, 564, 576, 588, 600, 612, 624, 636, 648, 660, 672, 684, 696, 708, 720, 732, 744, 756, 768, 780, 792, 804, 816, 828, 840, 852, 864, 876, 888, 900, 912, 924, 936, 948, 960, 972, 984, 996]

In [28]:
# YOUR CODE HERE

holiday_destinations = ['maine','cornwall','ibiza','florida','bali','bognor regis']

['maine', 'ibiza', 'bali']

In [29]:
#YOUR CODE HERE

names = ['John Lennon', 'Serena Williams', 'Ingrid Bergman', 'Mikhail Gorbachev']

['Lennon,John', 'Williams,Serena', 'Bergman,Ingrid', 'Gorbachev,Mikhail']

#### EXERCISE 6: On track for retirement?

Write a function to calculate compound interest. Variables to take: `principal`, `interest_rate`, `years`. Return the amount of money at the end of the period (ie. the principal plus all accrued interest). You could use it to check what your pension will be worth.

In [30]:
# YOUR FUNCTION HERE:

In [31]:
principal = 100000
interest_rate = 1.05
years = 10

investment_proceeds = calculate_compound_interest(principal, interest_rate, years)

In [32]:
print("After {} years at interest rate {}, ${} becomes ${:.2f}".format(
    years,
    interest_rate,
    principal,
    investment_proceeds))

After 10 years at interest rate 1.05, $100000 becomes $162889.46