##Problema 02

Fazer a análise do dataset do Titanic. Limpeza, Preparação e Análise Exploratória dos Dados(não é necessário fazer previsões (modelos), basta analisar e organizar o dataset) usando Jupyter Notebook.

##Comentários
**Descrição do dataset**<br>
PassengerId	= A unique ID to each Passenger; 1-891<br>
Survived	  = A boolean variable; 1 - Survived, 0 - Dead <br>
Pclass	    = Ticket Class; 1 - 1st, 2 - 2nd, 3 - 3rd class <br>
Name	      = Passenger Name <br>
Sex	        = Sex of Passenger <br>
Age	        = Age in Years <br>
SibSp	      = Number of Siblings / Spouses Aboard <br>
Parch	      = Number of parents / children aboard the titanic <br>
Ticket	    = Ticket number <br>
Fare	      = Passenger Fare <br>
Cabin	      = Cabin number <br>
Embarked	  = Port of Embarkation; C - Cherbourg, Q - Queenstown, S - Southampton <br><br>

**Considerações sobre as variáveis** <br>
Pclass <br>
1st = Superior
2nd = Meio
3rd = Inferior

SibSp <br>
Sibling = irmão, irmã <br>
Spouse = marido, esposa <br>

Parch <br>
Parent = pai, mãe <br>
Child = filhos <br>
Algumas criaças viajaram sozinhas com babá, neste caso parch=0

#Carregando os dados

In [ ]:
# conectar drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# ler arquivo
file_path = "/content/drive/MyDrive/Colab/Ciencia_Dados/Problema 02/titanic-data.csv"
df = pd.read_csv(file_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S